@charset "utf-8";
/* CSS Document */
/* ОНУЛИТЬ ПАДИНГИ У РОДИТЕЛЬСКИХ ЕЛЕМЕНТОВ! */
/* Проверить у неработающих элементов тип, а то может применяю блочные свойства к строчным элементам */
body {
    min-width: 1200px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2; 
}

a {
   text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0px auto;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
    color: #000000;
  
    background-color: #ffffff;
    height: 56px;   
}

/* Делаю навигацию флексами */
.site-navigation {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
}

.site-navigation li:nth-child(1){
    order: 1;
}

.site-navigation li:nth-child(2){
    order: 2;
}

.site-navigation li:nth-child(3){
    order: 4;
}
.site-navigation li:nth-child(4){
    order: 5;
}

.logo{
    order: 3;
    z-index: 1; /* Вот тут магия*/
}

.logo a{
    display: block;
    height: 56px;
}


/* Кстати лого все же не по центру */
/* Задаю флексам ширину */
.site-navigation li{
    flex-shrink: 0;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

a.active{
    color: #766357;
}

.site-navigation a:active{
    color: rgba(0,0,0, 0.3);
}

/* Задаю лого */
.index-logo{
    background-color: #e3f0f8;
    background-image: url(../img/index-logo.jpg); /* Заменил на картинку в высоком разрешении, старая сыпалась, и кстати именно она закрывает лого */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    
    background-position: 0px -84px; /* Иначе в фон я не попадаю! */
}

.index-logo::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    background-image: url(../img/intro-mask.svg);
    background-repeat: no-repeat;

    width: 100%; /* Костыли костылики */
    height: 57px;
    
    background-position: center;
    background-size: cover;
}

.welcome{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 73px; 
    background-color: transparent;
}


.intro {
    display: flex;
    justify-content: center;

    background-color: #ffffff;
    text-align: center;

    padding-top: 60px;
}
.intro-sedon{
    width: 615px;   /*Костыль который не работает! */
}


.intro h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0px;

    padding-bottom: 27px;
}

.intro-sedon p {
    font-size: 14px;
    line-height: 26px;
    margin: 0px;

    padding-bottom: 52px;
}

.advantages {
    text-align: center;
}

.index-content{
    display: flex;

    height: 256px;
}
.index-content-left{
    width: 400px;
}

.index-content-left h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px; 
    width: 200px;    
    padding-top: 45px;
}



.index-content-left p{
    margin-left: auto; /*Костыль который работает! */
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 280px;
    padding-top: 20px;
}
/*------------------------------------------------------ОТ ТУТ ЗАКОНЧИЛ 25.08.18------------------------------------------------------------------------ */
.index-content-left,
.more-info{
    background-color: #81b3d2; 
    color: white;

}

.index-content-right{
    flex-shrink: 0;
}

.index-content-right img{ /*---Все равно изображение не попадает в pp---- */
    object-fit: cover;
    
    height: 256px;
}

.intro{
    /* Задать размеры через паддинг */
}

.index-content-left h2,
.hotel-found h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.index-content-left p,
.hotel-found span{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;

    margin: 0px;
    padding: 0px;
    padding-top: 60px;
    min-height: 270px;
}

.features-item {
    background-size: 75px 72px; 
    
    flex-shrink: 0;
    background-position: center top;
    background-repeat: no-repeat; 
    width: 300px;

    padding-top: 104px;
}

.features b{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features p{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.housing {
    background-image: url(../img/icon-1.svg);     /* Как коректно отобразить? */
}

.food {
    background-image: url(../img/icon-3.svg);
}

.suvenir {
    background-image: url(../img/icon-2.svg);
}

.devil-bridge {
    background-color: #eeeeee; 
}

.bottom li{
    flex-shrink: 0;
    padding-top: 0px;
    min-width: 400px;
}

.bottom p{
    padding-top: 20px;
}


.bottom p{
    margin: 0 auto;
    width: 255px;
}

.bottom{
    padding-top: 45px;
    min-height: 210px;
}

.motto-sedon {
    position: relative;
    background-color: white; 
    text-align: center;

    height: 292px;
}

.motto-sedon h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;

    margin: 0px;
    padding-top: 51px;
}

.motto-sedon p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;

    margin: 0px;
    padding-top: 25px;
}

.search-head {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #766357; 
    text-align: center;

    width: 568px;
    height: 86px;

    margin: 50px auto 0;
}

.search-head a{
    text-align: center; 
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.search-form {
    position: absolute;
    width: 568px;
    height: 395px;
    left: calc(50% - (568px/2));

    background-color: #ffffff;
}

.search-date{
    padding-top: 60px;
}

.search-form p{
    padding-bottom: 29px;

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;

    text-align: center;
    margin: 0px;
}


/* .Cтилизовал, но с кнопками запара, помню что у академии был урок с этой темой но немогу найти, а гугл выдает даболее странные решения.. */
input {
    background-image: url(../img/calendar.svg);   
    background-repeat: no-repeat;    
    background-position: 4px; 
    outline: none;   
    padding-left: 20px;   
    height: 20px; 
    font-size: 14px; 
    font-weight: bold;
    background-color: #f2f2f2;
    border: 0px;
}

.search-form .btn {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    border: none;
    background-color: #81b3d2;
}
/* не работает( стилизовать их и календарик  с помощью hover не вижу смысла пока они не работают*/
/* .children input::before{
    background-image: url(/img/icon-down-dir.svg);
}

.children input::after{
    background-image: url(/img/icon-up-dir.svg);
} */


.main-footer {
    list-style: none;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: rgba(253,253,253,0.9);
}

.footer-social ul{
    list-style: none;
}

/* А как лучше всего спрятать надписи? */
.social-btn {
    display: block;
    text-indent: -9999px;
    background-color: #81b3d2;
    background-size: 12px 22px;
    width: 46px;
    height: 46px;
    background-position: center;
    background-repeat: no-repeat; 
}
.footer-social ul{
    display: flex;
}

.tv-btn {
    background-image: url(../img/twitter.svg); /* Подогнать размеры как в макете*/
    background-size: 12px 22px;
}

.fc-btn {
    background-image: url(../img/fb-icon.svg);
}

.yu-btn {
    background-image: url(../img/youtube.svg);
}

.container.flex{
    display: flex;
    width: 1065px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-contacts{
    
    width: 160px;
}

.footer-social{
    width: 170px;
}

.footer-copyright{
    width: 210px;
}

.footer-copyright p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
/* Если вставляю в "а" ничего не отображается  */
.footer-copyright div{
    background-image: url(../img/logo-htmlacademy.svg);
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
}

/* Естественно не работает */

.footer-copyright a {
    display: block;
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url(../img/logo-htmlacademy.svg);
    color: #000000;
}

/* Спрятал */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* от тута чет сложно */
/* .footer-copyright a:hover{
    color: #81b3d2;
}

.footer-copyright a:active{
    color: rgba(0,0,0,.3);
} */

/* 2 страница */

.found{
    background-color: #fefefe;
}

.found ul{
    margin: 0px;
    padding: 0px;
}

.filters{
 height: 220px;
}

.filters-form form{
    display: flex;

    height: 217px;

    background-color: #000000;
    background-image: url(../img/filters-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;

}

.filters-form fieldset { /* А как разместить четбоксы и подписи к ним на одной строчке?  */
    display: flex;
    flex-direction: column;

    border:0 none;
    }

.infrastructure{
    width:240px;
}

.accommodation {
    width:240px;
}

.value {
    width:400px;
    background-color: red;

    margin-left: auto;
}

.filters-form legend {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters-form label {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
/* Нужно стилизовать четбоксы, но я не знаю как */

.sorting {
    display: flex;

    height: 83px;

    border-bottom: 1px solid #e5e5e5; 
}

.sorting h2{
    margin: 0px;
}
.sorting ul{
    margin: 0px;
    list-style: none;
}

.sorting p{
    text-align: center;
    margin: 0px;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;
}

.sorting a{
    color: rgba(0,0,0,0.3);
    border-bottom: dashed;
}

.sorting a:hover{
    color: #81b3d2;
    border-bottom: dashed;
}

.sorting a:focus{
    color: #81b3d2;
}

.sorting a:active{
    color: #000000;
    border-bottom: none;
}

/* Как изменить цвет у SVG!!!? */
.dir-up{
    background-image: url(../img/icon-up-dir.svg);  
    
    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;
    
    border: none; 
    background-color: #fefefe;
    color: #81b3d2; 
}

.dir-down{
    background-image: url(../img/icon-down-dir.svg);  

    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;

    border: none;
    background-color: #fefefe;
    color: #cacaca;
}

.dir-down a:hover{
    color: #000000;
}

.dir-down a:focus{
    color: #81b3d2;
}

.dir-down a:active{
    color: rgba(0,0,0,.3);
}

.hotel-found{
    display: flex;

    height: 120px;

    border-bottom: 1px solid #e5e5e5;
    border-collapse: collapse;

    padding-top: 30px;
    padding-left: 72px;  
}

.hotel-picture{
    padding-right: 30px;
}

.hotel-found h3,
.hotel-found div,
.hotel-found p{
    margin: 0px;
}

.hotel-found .staars,
.hotel-found .rating{
    /* margin-left: auto;  Бяка*/
}

.hotel-found .more-info{
    width: 110px;
}

.hotel-found .booking{
    width: 142px;
}

.booking {
    background-color: #766357; 
    text-align: center;
}

.booking a,
.more-info a{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}
/* Методом тыка выяснил что если поменять а на р все работает \_О_о_/ */
.more-info p:hover{
    background-color: #669ec0;
}

.more-info p:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.booking p:hover,
.search-head:hover{
    background-color: #604e43;
}

.booking p:active,
.search-head:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

/* Я почти уверен что это ссылка */
.hotel-found h3:hover{
    color: #81b3d2;
}

.hotel-found h3:active{
    color: rgba(0,0,0,.3);
}


.rating p {
    text-align: center;
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: #f2f2f2;
}

.hotel{
    list-style: none;
}

.staars {
    background-image: url(../img/star.svg);
    width: 17px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat; 
}


/* ---------СЕТОЧНЫЕ СТИЛИ----------- */


