@charset "utf-8";
/* CSS Document */
/* ОНУЛИТЬ ПАДИНГИ У РОДИТЕЛЬСКИХ ЕЛЕМЕНТОВ! */
/* Проверить у неработающих элементов тип, а то может применяю блочные свойства к строчным элементам */
body {
    min-width: 1200px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2; 
}

a {
   text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0px auto;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    font-weight: bold;
    color: #000000;
  
    background-color: #ffffff;
    height: 56px;   
}

/* Делаю навигацию флексами */
.site-navigation {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
}

.site-navigation li:nth-child(1){
    order: 1;
}

.site-navigation li:nth-child(2){
    order: 2;
}

.site-navigation li:nth-child(3){
    order: 4;
}
.site-navigation li:nth-child(4){
    order: 5;
}

.logo{
    order: 3;
}

.logo a{
    display: block;
    height: 56px;
}


/* Кстати лого все же не по центру */
/* Задаю флексам ширину */
.site-navigation li{
    flex-shrink: 0;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

a.active{
    color: #766357;
}

.site-navigation a:active{
    color: rgba(0,0,0, 0.3);
}

/* Задаю лого */
.index-logo{
    background-color: #e3f0f8;
    background-image: url(../img/index-logo.jpg); /* Заменил на картинку в высоком разрешении, старая сыпалась, и кстати именно она закрывает лого */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    
    background-position: 0px -84px; /* Иначе в фон я не попадаю! */
}

.index-logo::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    background-image: url(../img/intro-mask.svg);
    background-repeat: no-repeat;

    width: 100%; /* Костыли костылики */
    height: 57px;
    
    background-position: center;
    background-size: cover;
}

.welcome{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 73px;  /*Вот тут спорно */
    background-color: transparent;
}


.intro {
    display: flex;
    justify-content: center;

    background-color: #ffffff;
    text-align: center;

    padding-top: 60px;
}
.intro-sedon{
    width: 615px;   /*Костыль который не работает! */
}


.intro h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0px;

    padding-bottom: 27px;
}

.intro-sedon p {
    font-size: 14px;
    line-height: 26px;
    margin: 0px;

    padding-bottom: 52px;
}

.advantages {
    text-align: center;
}

.index-content{
    display: flex;

    height: 256px;
}
.index-content-left{
    width: 400px;
}

.index-content-left h2{
    margin-left: auto;  /*Костыль который работает! */
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px; /*Костыль который работает и помогает попасть по высоте но не по ширине! */
    width: 200px;    
    padding-top: 45px;
}

.index-content-left p{
    margin-left: auto; /*Костыль который работает! */
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 280px;
    padding-top: 20px;
}
/*------------------------------------------------------ОТ ТУТ ЗАКОНЧИЛ 25.08.18------------------------------------------------------------------------ */
.index-content-left,
.more-info{
    background-color: #81b3d2; 
    color: white;

}

.intro{
    /* Задать размеры через паддинг */
}

.index-content-left h2,
.hotel-found h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.index-content-left p,
.hotel-found span{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.features {
    text-align: center;
    list-style: none;
}

.features b{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features p{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.housing {
    background-image: url(/img/icon-1.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.food {
    background-image: url(/img/icon-2.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.suvenir {
    background-image: url(/img/icon-3.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.devil-bridge {
    background-color: #eeeeee; 
}

.motto-sedon {
    background-color: white; 
    text-align: center;
}

.motto-sedon h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.motto-sedon p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.search-head {
    background-color: #766357; 
    text-align: center;
}

.search-head h2{
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
}


.search p{
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}


/* .Cтилизовал, но с кнопками запара, помню что у академии был урок с этой темой но немогу найти, а гугл выдает даболее странные решения.. */
input {
    background-image: url(/img/calendar.svg);   
    background-repeat: no-repeat;    
    background-position: 4px; 
    outline: none;   
    padding-left: 20px;   
    height: 20px; 
    font-size: 14px; 
    font-weight: bold;
    background-color: #f2f2f2;
    border: 0px;
}

.search .btn {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    border: none;
    background-color: #81b3d2;
}
/* не работает( стилизовать их и календарик  с помощью hover не вижу смысла пока они не работают*/
/* .children input::before{
    background-image: url(/img/icon-down-dir.svg);
}

.children input::after{
    background-image: url(/img/icon-up-dir.svg);
} */


.main-footer {
    list-style: none;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.footer-social ul{
    list-style: none;
}

/* А как лучше всего спрятать надписи? */
.social-btn {
    background-color: #81b3d2;
}

.tv-btn {
    background-image: url(/img/twitter.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.fc-btn {
    background-image: url(/img/fb-icon.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.yu-btn {
    background-image: url(/img/youtube.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}
 
.footer-copyright p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
/* Если вставляю в "а" ничего не отображается  */
.footer-copyright div{
    background-image: url(/img/logo-htmlacademy.svg);
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
}

/* Естественно не работает */

.footer-copyright a {
    display: block;
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url(/img/logo-htmlacademy.svg);
    color: #000000;
}

/* Спрятал */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* от тута чет сложно */
/* .footer-copyright a:hover{
    color: #81b3d2;
}

.footer-copyright a:active{
    color: rgba(0,0,0,.3);
} */

/* 2 страница */

.filters-form {
    background-color: #000000;
    background-image: url(/img/filters-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.filters-form legend {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters-form label {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
/* Нужно стилизовать четбоксы, но я не знаю как */
.sorting ul{
    list-style: none;
}

.sorting p{
    text-align: center;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;
}

.sorting a{
    color: rgba(0,0,0,.3);
    border-bottom: dashed;
}

.sorting a:hover{
    color: #81b3d2;
    border-bottom: dashed;
}

.sorting a:focus{
    color: #81b3d2;
}

.sorting a:active{
    color: #000000;
    border-bottom: none;
}

/* Как изменить цвет у SVG? */
.dir-up{
    background-image: url(/img/icon-up-dir.svg);  
    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;
    color: #81b3d2; 
}

.dir-down{
    background-image: url(/img/icon-down-dir.svg);  
    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;
    color: #cacaca;
}

.dir-down a:hover{
    color: #000000;
}

.dir-down a:focus{
    color: #81b3d2;
}

.dir-down a:active{
    color: rgba(0,0,0,.3);
}



.booking {
    background-color: #766357; 
    text-align: center;
}

.booking a,
.more-info a{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}
/* Методом тыка выяснил что если поменять а на р все работает \_О_о_/ */
.more-info p:hover{
    background-color: #669ec0;
}

.more-info p:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.booking p:hover,
.search-head h2:hover{
    background-color: #604e43;
}

.booking p:active,
.search-head h2:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

/* Я почти уверен что это ссылка */
.hotel-found h3:hover{
    color: #81b3d2;
}

.hotel-found h3:active{
    color: rgba(0,0,0,.3);
}


.rating p {
    text-align: center;
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: #f2f2f2;
}

.hotel{
    list-style: none;
}

.staars {
    background-image: url(/img/star.svg);
    width: 17px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat; 
}


/* ---------СЕТОЧНЫЕ СТИЛИ----------- */


