@charset "utf-8";
/* CSS Document */
/* в штмл подключить шрифты и нормалайз */
/* Для боди прописывать те параметры текста которых больше всего в объеме сайта */
/* ЛЕЗЬ В ДЕМКУ БАБРБЕШОПа И СМОТРИ КАК ТАМ! */
/* Разная стилизация для страниц делается через ИНЕР пейдж, т.е. доп класс к боди на внутренних страницах */
/* В селекторах максимум три тега */

body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
   text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

.site-navigation a:focus{
    color: #766357;
}

.site-navigation a:active{
    color: rgba(0,0,0,.3);
}

.index-logo{
    background-color: #000000;
    background-image: url(/img/background\ photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.float-border {
    background-color: #000000;
    background-image: url(/img/intro-mask.svg);
    background-position: bottom center;
    background-repeat: no-repeat; 
    height: 59px;
    width: 100%;
}

.deviz-sedon {
    text-align: center;
}

.deviz-sedon h2 {
    font-size: 21px;
    line-height: 26px;
}

.deviz-sedon p {
    font-size: 14px;
    line-height: 26px;
}

.advantages {
    text-align: center;
}

.index-content{
    background-color: #81b3d2; 
    color: white;
}

.index-content-left h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.index-content-left p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.features {
    text-align: center;
    list-style: none;
}

.features b{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features p{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.housing {
    background-image: url(/img/icon-1.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.food {
    background-image: url(/img/icon-2.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.suvenir {
    background-image: url(/img/icon-3.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.devil-bridge {
    background-color: #eeeeee; 
}

.motto-sedon {
    background-color: white; 
    text-align: center;
}

.motto-sedon h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.motto-sedon p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.search-head {
    background-color: #766357; 
    text-align: center;
}

.search-head h2{
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
}

/* НЕ РАБОТАЕТ! Пока еще не разобрался почему */
.btn-brown a:hover{
    background-color: #604e43;
}

.btn-brown a:active{
    color: rgba(0,0,0,.3);
    background-color: #503e33;    
}


/*  */

.search p{
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

/* Хм, а как внутри формы сделать текст жирным? Надо погуглить... */
/* Не работает */
.search-form input[type="text"],
.search-form input[type="number"],
.search-form input[type="tel"]{
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    
    background-color: white;
    border: none;
}

.search .btn {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    border: none;
    background-color: #81b3d2;
}

.main-footer {
    list-style: none;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.footer-social ul{
    list-style: none;
}

/* А как лучше всего спрятать надписи? */
.social-btn {
    background-color: #81b3d2;
}

.tv-btn {
    background-image: url(/img/twitter.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.fc-btn {
    background-image: url(/img/fb-icon.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.yu-btn {
    background-image: url(/img/youtube.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}
 
.footer-copyright p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
/* Если вставляю в "а" ничего не отображается  */
.footer-copyright {
    background-image: url(/img/logo-htmlacademy.svg);
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
}
/* Естественно не работает */
.footer-copyright a:hover{
    color: #81b3d2;
}

.footer-copyright a:active{
    color: rgba(0,0,0,.3);
}