@charset "utf-8";
/* CSS Document */
/* в штмл подключить шрифты и нормалайз */
/* Для боди прописывать те параметры текста которых больше всего в объеме сайта */
/* ЛЕЗЬ В ДЕМКУ БАБРБЕШОПа И СМОТРИ КАК ТАМ! */
/* Разная стилизация для страниц делается через ИНЕР пейдж, т.е. доп класс к боди на внутренних страницах */
/* В селекторах максимум три тега */

body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
   text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

.site-navigation a:focus{
    color: #766357;
}

.site-navigation a:active{
    color: rgba(0,0,0,.3);
}

.index-logo{
    background-color: #000000;
    background-image: url(/img/background\ photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.float-border {
    background-color: #000000;
    background-image: url(/img/intro-mask.svg);
    background-position: bottom center;
    background-repeat: no-repeat; 
    height: 59px;
    width: 100%;
}

.deviz-sedon {
    text-align: center;
}

.deviz-sedon h2 {
    font-size: 21px;
    line-height: 26px;
}

.deviz-sedon p {
    font-size: 14px;
    line-height: 26px;
}

.advantages {
    text-align: center;
}

.index-content,
.more-info{
    background-color: #81b3d2; 
    color: white;
}

.index-content-left h2,
.hotel-found h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.index-content-left p,
.hotel-found span{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.features {
    text-align: center;
    list-style: none;
}

.features b{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.features p{
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.housing {
    background-image: url(/img/icon-1.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.food {
    background-image: url(/img/icon-2.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.suvenir {
    background-image: url(/img/icon-3.svg);
    width: 72px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat; 
}

.devil-bridge {
    background-color: #eeeeee; 
}

.motto-sedon {
    background-color: white; 
    text-align: center;
}

.motto-sedon h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.motto-sedon p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.search-head {
    background-color: #766357; 
    text-align: center;
}

.search-head h2{
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
}

/* НЕ РАБОТАЕТ! Пока еще не разобрался почему */
.btn-brown a:hover{
    background-color: #604e43;
}

.btn-brown a:active{
    color: rgba(0,0,0,.3);
    background-color: #503e33;    
}


/*  */

.search p{
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}


/* .Cтилизовал, но с кнопками запара, помню что у академии был урок с этой темой но немогу найти, а гугл выдает даболее странные решения.. */
input {
    background-image: url(/img/calendar.svg);   
    background-repeat: no-repeat;    
    background-position: 4px; 
    outline: none;   
    padding-left: 20px;   
    height: 20px; 
    font-size: 14px; 
    font-weight: bold;
    background-color: #f2f2f2;
    border: 0px;
}

.search .btn {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    border: none;
    background-color: #81b3d2;
}
/* не работает( стилизовать их и календарик  с помощью hover не вижу смысла пока они не работают*/
/* .children input::before{
    background-image: url(/img/icon-down-dir.svg);
}

.children input::after{
    background-image: url(/img/icon-up-dir.svg);
} */


.main-footer {
    list-style: none;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.footer-social ul{
    list-style: none;
}

/* А как лучше всего спрятать надписи? */
.social-btn {
    background-color: #81b3d2;
}

.tv-btn {
    background-image: url(/img/twitter.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.fc-btn {
    background-image: url(/img/fb-icon.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}

.yu-btn {
    background-image: url(/img/youtube.svg);
    width: 12px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat; 
}
 
.footer-copyright p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
/* Если вставляю в "а" ничего не отображается  */
.footer-copyright {
    background-image: url(/img/logo-htmlacademy.svg);
    width: 115px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat; 
}
/* Естественно не работает */
.footer-copyright a:hover{
    color: #81b3d2;
}

.footer-copyright a:active{
    color: rgba(0,0,0,.3);
}

/* 2 страница */

.filters-form {
    background-color: #000000;
    background-image: url(/img/filters-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.filters-form legend {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filters-form label {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
/* Нужно стилизовать четбоксы, но я не знаю как */
.sorting ul{
    list-style: none;
}

.sorting p{
    text-align: center;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    list-style: none;
}

.sorting a{
    color: rgba(0,0,0,.3);
    border-bottom: dashed;
}

.sorting a:hover{
    color: #81b3d2;
    border-bottom: dashed;
}

.sorting a:focus{
    color: #81b3d2;
}

.sorting a:active{
    color: #000000;
    border-bottom: none;
}

/* Как изменить цвет у SVG? */
.dir-up{
    background-image: url(/img/icon-up-dir.svg);  
    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;
    color: #81b3d2; 
}

.dir-down{
    background-image: url(/img/icon-down-dir.svg);  
    background-position: center;
    background-repeat: no-repeat; 
    width: 11px;
    height: 10px;
    color: #cacaca;
}

.dir-down a:hover{
    color: #000000;
}

.dir-down a:focus{
    color: #81b3d2;
}

.dir-down a:active{
    color: rgba(0,0,0,.3);
}



.booking {
    background-color: #766357; 
    text-align: center;
}

.booking a,
.more-info a{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.rating p {
    text-align: center;
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: #f2f2f2;
}

.hotel{
    list-style: none;
}

.staars {
    background-image: url(/img/star.svg);
    width: 17px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat; 
}